@import url('https://fonts.googleapis.com/css?family=Bitter|Work+Sans|Bangers');

/* Mobile responsive */
@media screen and (max-width: 650px) {
  .Content {
    display: block!important;
  }
  .Menu {
    margin-top: 20px!important;
  }
  .Body {
    max-width: 100%!important;
  }
}

/* General design */
body{
	background: #e5e5e5;
}

a {
	text-decoration: none;
}
p a {
	font-family: 'Work Sans', sans-serif;
}

/* App style */
.Container {
	display: flex;
	flex-direction: column;
}

.Content{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-bottom: 5px;
}
.Menu{
	flex: 1;
	padding: 5px 10px;
}

.Body{
	flex: 2;
	padding: 5px 15px;
	max-width: 65%;
}

.Menu, .Body {
	background: white;
	margin: 0 15px;
	min-height: 500px;
}
.Footer {
	width: 100%;
	margin-bottom: 15px;
}

.Footer .Footer-Content {
	margin: 0 15px;
	height: 40px;
	line-height: 40px;
	background-color: white;
	padding: 0 15px;
}

.Footer .Footer-Content a {
	color: #3F51B5;
	font-family: sans-serif;
}

/* Right menu imgs */
.Village-Photos, .Fb-Page, .Fb-Page img  {
	width: 100%;
}
.Fb-Share img {
	width: 100%;
}
