@media screen and (max-width: 650px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    nav span img{
        margin: auto;
    }

    nav span:first-child{
        display: flex;
    }

    nav.Show-Mobile-Nav a{
        display: inline;
        border-bottom: 1px solid gainsboro;
        background: white;
        padding-left: 10px;
        width: 100%;
        text-decoration: none;
        margin: 0!important;
        z-index: 10!important;
    }
    nav.Show-Mobile-Nav span{
        display: none;
    }
    nav.Hide-Mobile-Nav a{
        display: none;
    }

    span.Burger-Container{
        display: flex;
    }
}


nav{
    line-height: 50px;
    height: 50px;
    background: white;
    -webkit-box-shadow: 0px 1px 22px -3px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 1px 22px -3px rgba(0,0,0,0.31);
    box-shadow: 0px 1px 22px -3px rgba(0,0,0,0.31);
}

.Hide-Desktop {
    display: none;
}

.Logo, .Logo-Mobile{
    height: 47px;
}
.Logo{
    float: left;
    position: relative;
    top: 2px;
    margin-left: 15px;
    margin-right: 5px;
}

.Logo-Mobile{
}

.Nav-Icon{
    position: relative;
    top: 2px;
    width: 18px;
}

nav a {
    color: #5A5A5A;
    font-family: 'Bangers', cursive;
    margin: 0px 10px;
}
nav a:hover{
    color: #2374B6;
    transition: color 500ms;
}